<div class="ui inverted vertical masthead center aligned segment">
    <!-- Navigaatio -->
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="active item" href="/">Blogi</a>
            <a class="item">Arkisto</a>
            <a class="item">Muita juttuja</a>
            <% if (req.session.user) { %> 
                <a class="item">Hallintapaneeli</a>
                <a class="item" href="/user/edituser"><%= req.session.user.name %> <i class="user circle outline icon"></i></a>
            <% } %>
            <div class="right item">
                <% if (req.session.user) { %>
                    <a href="/logout" class="ui inverted logout button">Kirjaudu ulos</a>
                <% } else { %>
                    <a class="ui inverted login button">Kirjaudu</a>
                    <%- partial('../user/login.ejs') %>
                <% } %>
            </div>
        </div>
    </div>
</div>