<div class="ui inverted vertical masthead center aligned segment">
    <!-- Navigaatio -->
    <div class="ui container">
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a class="item" href="/">Blogi</a>
                <a class="item" href="/blogpost/archive">Arkisto</a>
                <% if (req.session.user) { %> 
                    <a class="item" href="/user/signup">Lisää käyttäjä</a>
                    <a class="item" href="/user/edituser"><%= req.session.user.name %> <i class="user circle outline icon"></i></a>
                <% } %>
                <a class="item" href="/ukk">FAQ</a>
                <div class="right item">
                    <% if (req.session.user) { %>
                        <a href="/logout" class="ui inverted logout button">Kirjaudu ulos</a>
                    <% } else { %>
                        <a class="ui inverted login button">Kirjaudu</a>
                        <%- partial('../user/login.ejs') %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>