<div class="ui inverted vertical masthead center aligned segment">
    <!-- Navigaatio -->
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a class="active item">Blogi</a>
        <a class="item">Arkisto</a>
        <a class="item">Muita juttuja</a>
        <div class="right item">
            <a class="ui inverted button">Kirjaudu</a>
        </div>
        </div>
    </div>
</div>