<% flash.get('success').forEach(function (message) { %>
    <div class="ui success message">
      <%= message %>
    </div>
<% }) %>
<% flash.get('error').forEach(function (message) { %>
  <div class="ui error message">
    <%= message %>
  </div>
<% }) %>