<div class="ui segment">
    <h3 class="ui header">
        <i class="newspaper icon"></i>
        <div class="content">
            Uutiskirje
        </div>
    </h3>
    <p>Tilaa uutiskirjeemme ja ilmoitukset uusista julkaisuista suoraan sähköpostiisti.</p>
    <button class="ui fluid primary button">TILAA UUTISKIRJE</button>
</div>