<div class="ui segment">
    <h3 class="ui header">
        <div class="content">
            PHYT'S tuotesarja
        </div>
    </h3>
    <img src="/images/phyts.jpg" class="ui image">
    <p>Testaamme ja arvostelemme blogissa PHYT'S tuotesarjan luomukosmetiikkatuotteita</p>
    <a class="ui fluid primary button" href="http://www.phyts.fi/" target="_blank">
        TUTUSTU PAREMMIN PHYT'S SIVUSTOLLA
        <i class="right arrow icon"></i>
    </a>
</div>