<h2 class="ui header">Salasanan vaihto</h2>
<form class="ui form" method="POST" action="/password/update">
    <div class="field">
        <label>Vanha salasana</label>
        <input type="password" name="oldpass">
    </div>
    <div class="field">
        <label>Uusi salasana</label>
        <input type="password" name="newpass">
    </div>
    <div class="field">
        <label>Toista uusi salasana</label>
        <input type="password" name="confirmpass">
    </div>
    <button type="submit" class="ui primary button"><i class="save icon"></i> Tallenna</a>
</form>