<h2 class="ui centered header">Usein kysytyt kysymykset</h2>
<div>
    <h4>Onko PHYT'S 100% luonnollinen?</h4>
    <p>PHYT´STM laboratoriot vakuuttavat, että he käyttävät tuotteissaan
        ainoastaan 100% luonnollisia raaka-aineita.</p>
    <h4>Onko PHYT'S käyttänyt eläinkokeita?</h4>
    <p>PHYT'S kosmetiikkasarja antaa eläimille mahdollisuuden rauhalliseen 
        elämään ilman eläinkokeita.</p>
    <h4>Minkä maalainen PHYT'S on?</h4>
    <p>PHYT'S on ranskalainen luomusertifioitu kosmetiikkasarja. </p>
    <h4>Mitä PHYT'S tuotteet sisältävät?</h4>
    <p>Kaikki tuotteet ovat valmistettu eteerisistä öljyistä, kasviuutteiden, 
        kukkien, lehtien ja haukkojen kompleksisesta synergiasta, neitsytöljyistä, 
        mineraaleista ja luonnollisista vitamiineista.</p>
    <h4>Sisältääkö PHYT'S säilöntäaineita?</h4>
    <p>Tuotteet eivät sisällä säilöntäaineita, parabeeneja, phenoxyethanolia, 
        PEG, GMO, synteettisiä väriaineita. Phyt´s tuotevalikoiman jokainen 
        tuote on 100 % sertifioitu Ecosertin toimesta.</p>
    <h4>Ovatko PHYT'S pakkaukset kierrätettäviä?</h4>
    <p>PHYT'S on ympäristöystävällinen. Ainesosien hankkiminen ei ole 
        saastuttavaa ja kaikki pakkaukset ovat kierrätettäviä.</p>
</div>