<form class="ui form" method="POST" action="/blogpost/save">
    <div class="field">
        <label>Kirjoituksen aihe</label>
        <input type="text" name="subject">
    </div>
    <div class="field">
        <label>Kirjoituksen sisältö</label>
        <textarea name="content" rows="15"></textarea>
    </div>
    <button type="submit" class="ui primary button"><i class="save icon"></i> Tallenna</button>
</form>